<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY - Settings</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link href="/css/settings.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('../views/templates/sidebar.ejs') %>

    <div class="main-container">
        <div class="settings-container">
            <div class="profile-picture">
                <div class="initials"><%= user.first_name.charAt(0) + user.last_name.charAt(0) %></div>
            </div>
            <div class="settings-field">
                <label for="name">First Name</label>
                <div class="field-content">
                    <input type="text" id="name" value="<%= user.first_name %>" readonly>
                    <i class='bx bx-pencil edit-icon' onclick="editField('name')"></i>
                </div>
                <span class="error-message" id="name-error"></span>
            </div>
            <div class="settings-field">
                <label for="lastName">Last Name</label>
                <div class="field-content">
                    <input type="text" id="lastName" value="<%= user.last_name %>" readonly>
                    <i class='bx bx-pencil edit-icon' onclick="editField('lastName')"></i>
                </div>
                <span class="error-message" id="lastName-error"></span>
            </div>
            <div class="settings-field">
                <label for="email">Email</label>
                <div class="field-content">
                    <input type="email" id="email" value="<%= user.email %>" readonly>
                    <i class='bx bx-pencil edit-icon' onclick="editField('email')"></i>
                </div>
                <span class="error-message" id="email-error"></span>
            </div>
            <div class="settings-field">
                <label for="password">Password</label>
                <div class="field-content">
                    <input type="password" id="password" value="********" readonly>
                    <i class='bx bx-pencil edit-icon' onclick="editField('password')"></i>
                </div>
                <span class="error-message" id="password-error"></span>
            </div>
        </div>
    </div>

    <script src="/js/settings.js"></script>
</body>
</html>